/* PALETA CROMATICA */
@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@300;400&family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;1,600&display=swap");
.header .navbar {
  height: 100px;
  margin: 0;
  padding: 0;
}
.header .navbar .container-fluid {
  padding: 0;
  margin: 0;
  background-color: #BFE168;
}
.header .navbar .container-fluid .navbar-brand {
  transition: 1.5s;
}
.header .navbar .container-fluid .navbar-brand img {
  height: 100%;
  width: 400px;
}
.header .navbar .container-fluid .navbar-nav .nav-item :hover {
  color: black !important;
  transition: 1.5s;
  font-size: large;
}
.header .navbar .container-fluid .navbar-nav .nav-item .nav-link {
  color: #485551;
  text-transform: uppercase;
  font-weight: 600;
}

@media (min-width: 320px) and (max-width: 767px) {
  .header .navbar {
    height: auto;
  }
  .header .navbar .container-fluid {
    background-color: white;
  }
  .header .navbar .container-fluid .navbar-toggler {
    margin-right: 20px;
    border: none;
    color: black;
  }
  .header .navbar .container-fluid .navbar-brand img {
    object-fit: cover;
    width: 130px;
  }
  .header .navbar .container-fluid .navbar-nav .nav-item .nav-link {
    padding-left: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .header .navbar {
    height: auto;
  }
  .header .navbar .container-fluid {
    background-color: white;
  }
  .header .navbar .container-fluid .navbar-toggler {
    margin-right: 20px;
    border: none;
  }
  .header .navbar .container-fluid .navbar-brand img {
    width: 140px;
  }
  .header .navbar .container-fluid .navbar-nav .nav-item .nav-link {
    padding-left: 20px;
  }
}
/* PALETA CROMATICA */
.footer {
  height: 200px;
  background-color: #BFE168;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #485551;
}
.footer a {
  text-decoration: none;
}
.footer a :hover {
  transition: 1.5s;
  font-size: 3em;
}
.footer a i {
  color: #485551;
  font-size: 2em;
}

@media (max-width: 450px) {
  .footer h3 {
    font-size: 1.1em;
  }
  .footer p {
    font-size: 0.9em;
  }
  .footer .redes a i {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 1.3em;
  }
}
.redes-sociales {
  display: flex;
  justify-content: space-around;
  background-color: #CDE7E7;
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
.redes-sociales .red-social {
  display: flex;
  flex-direction: column;
  padding: 1em;
}
.redes-sociales .red-social i:hover {
  transition: 1.5s;
  font-size: 3em;
}
.redes-sociales .red-social #facebook {
  color: white;
  background-color: blue;
}
.redes-sociales .red-social #instagram {
  background-color: blueviolet;
  color: white;
}
.redes-sociales .red-social #whatsapp {
  color: white;
  background-color: green;
}
.redes-sociales .red-social i {
  margin-right: 20px;
  vertical-align: top;
  font-size: 24px;
  line-height: 64px;
  width: 64px;
  height: 64px;
  text-align: center;
  border-radius: 100%;
}
.redes-sociales .red-social a {
  text-decoration: none;
  color: #485551;
}

/* PALETA CROMATICA */
.carousel-principal .carousel {
  margin-bottom: 20px;
}

.sobre-nosotros {
  display: flex;
  margin: 20px;
}
.sobre-nosotros .sobre-nosotros__text {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 20px;
  background-color: #BFE168;
  text-align: center;
}
.sobre-nosotros .sobre-nosotros__text h2 {
  color: #485551;
  font-weight: 500;
}
.sobre-nosotros .sobre-nosotros__text p {
  color: #485551;
}
.sobre-nosotros .sobre-nosotros__image {
  display: flex;
  justify-content: center;
  width: 50%;
}
.sobre-nosotros .sobre-nosotros__image img {
  width: 100%;
  object-fit: cover;
}

@media (max-width: 450px) {
  .sobre-nosotros {
    display: flex;
    flex-direction: column;
  }
  .sobre-nosotros .sobre-nosotros__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin-bottom: -40px;
    width: 100%;
  }
  .sobre-nosotros .sobre-nosotros__text h2 {
    font-size: 1.1em;
    color: #4AAF9E;
  }
  .sobre-nosotros .sobre-nosotros__text p {
    font-size: 0.9em;
    color: #485551;
  }
  .sobre-nosotros .sobre-nosotros__image {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .sobre-nosotros .sobre-nosotros__image img {
    margin-top: 20px;
    width: 100%;
    object-fit: cover;
  }
}
.porque-elegirnos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  padding: 20px;
  background-color: #F3F5EF;
  margin: 20px;
}
.porque-elegirnos .porque-elegirnos__item {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.porque-elegirnos .porque-elegirnos__item h3 {
  color: #4AAF9E;
}
.porque-elegirnos .porque-elegirnos__item p {
  color: #485551;
}
.porque-elegirnos .porque-elegirnos__item .porque-elegirnos__item__icono i {
  margin-right: 20px;
  vertical-align: top;
  font-size: 24px;
  line-height: 64px;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  border: 1px solid #485551;
  text-align: center;
  color: #485551;
}

@media (max-width: 450px) {
  .porque-elegirnos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    padding: 20px;
  }
  .porque-elegirnos .porque-elegirnos__item {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
  .porque-elegirnos .porque-elegirnos__item .porque-elegirnos__item__icono i {
    margin-right: 20px;
    vertical-align: top;
    font-size: 24px;
    line-height: 64px;
    width: 64px;
    height: 64px;
    border-radius: 100%;
    border: 1px solid black;
    text-align: center;
  }
  .porque-elegirnos .porque-elegirnos__item__texto {
    display: flex;
    flex-direction: column;
  }
  .porque-elegirnos .porque-elegirnos__item__texto h3 {
    font-size: 1.1em;
    color: #4AAF9E;
  }
  .porque-elegirnos .porque-elegirnos__item__texto p {
    font-size: 0.9em;
    color: #485551;
  }
}
.trabajos-realizados {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.trabajos-realizados .carousel {
  width: 70%;
}
.trabajos-realizados .carousel .carousel-item {
  height: 450px;
}
.trabajos-realizados .carousel .carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.trabajos-realizados .trabajos-realizados__text {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}
.trabajos-realizados .trabajos-realizados__text h3 {
  color: #4AAF9E;
}
.trabajos-realizados .trabajos-realizados__text p {
  color: #485551;
}

@media (max-width: 450px) {
  .trabajos-realizados {
    flex-direction: column;
  }
  .trabajos-realizados .carousel {
    width: 100%;
  }
  .trabajos-realizados .carousel .carousel-item {
    height: 300px;
  }
  .trabajos-realizados .trabajos-realizados__text h3 {
    font-size: 1.1em;
  }
  .trabajos-realizados .trabajos-realizados__text p {
    font-size: 0.9em;
  }
}
.contact-form-conteiner {
  margin: 20px;
  background-color: #F3F5EF;
  padding: 20px;
  text-align: center;
  color: #485551;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-form-conteiner h3 {
  margin-bottom: 20px;
}
.contact-form-conteiner form .mb-3 .form-control {
  width: 500px;
}

@media (max-width: 450px) {
  .contact-form-conteiner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
  }
  .contact-form-conteiner form {
    padding: 20px;
  }
  .contact-form-conteiner form h3 {
    font-size: 1.1em;
    color: #485551;
  }
  .contact-form-conteiner form .mb-3 .form-control {
    font-size: 0.9em;
    color: #485551;
    width: 300px;
  }
  .contact-form-conteiner form button {
    font-size: 0.9em;
    color: #F3F5EF;
  }
}
* {
  font-family: "Figtree", sans-serif;
  font-weight: 400;
}
* .linea-divisoria {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
* .linea-divisoria hr {
  opacity: 1;
  width: 80%;
}
* main {
  background-color: #F3F5EF;
}

/*# sourceMappingURL=style.css.map */
