//destkop
.servicios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    padding: 20px;
    background-color: $color-cinco;
    margin: 20px;
    .servicios-item{
        display: flex;
        flex-direction: row;
        align-items: baseline;
        h3{
            color: $color-tres;
        }
        p{
            color: $color-uno;
        }
        .servicios-item-img{
            i{
                margin-right: 20px;
                vertical-align: top;
                font-size: 24px;
                line-height: 64px;
                width: 64px;
                height: 64px;
                border-radius: 100%;
                border: 1px solid $color-uno;
                text-align: center;
                color: $color-uno;
            }
        }
    }

    
}




//mobile
@media (max-width: 450px) {
    .servicios{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;
        padding: 20px;
        .servicios-item{
            display: flex;
            flex-direction: row;
            align-items: baseline;
            .servicios-item-img{
                i{
                    margin-right: 20px;
                    vertical-align: top;
                    font-size: 24px;
                    line-height: 64px;
                    width: 64px;
                    height: 64px;
                    border-radius: 100%;
                    border: 1px solid black;
                    text-align: center;
                }
            }
        }
        .servicios-item-texto{
            display: flex;
            flex-direction: column;
            h3{
                font-size: 1.1em;
                color: $color-tres;
            }
            p{
                font-size: .9em;
                color: $color-uno;
            }
        }
    }
}