.trabajos-realizados{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    .carousel{
        width: 70%;
        .carousel-item{
            height: 450px;
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
    .trabajos-realizados__text{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 20px;
        h3{
            color: $color-tres;
        }
        p{
            color: $color-uno;
        }
    }   

}
//mobile max-width: 450px
@media (max-width: 450px) {
    .trabajos-realizados{
        flex-direction: column;
        .carousel{
            width: 100%;
            .carousel-item{
                height: 300px;
            }
        }
        .trabajos-realizados__text{
            h3{
                font-size: 1.1em;
            }
            p{
                font-size: .9em;
            }
        }   
    
    }
}


.conteiner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#html-spinner{
    width:45px;
    height:45px;
    border:4px solid $color-uno;
    border-top:4px solid white;
    border-radius:50%;
  }
  
  #html-spinner, #svg-spinner{
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1.2s;
    -webkit-animation-name: rotate;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    
    -moz-transition-property: -moz-transform;
    -moz-animation-name: rotate; 
    -moz-animation-duration: 1.2s; 
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    
    transition-property: transform;
    animation-name: rotate; 
    animation-duration: 1.2s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  @-webkit-keyframes rotate {
      from {-webkit-transform: rotate(0deg);}
      to {-webkit-transform: rotate(360deg);}
  }
  
  @-moz-keyframes rotate {
      from {-moz-transform: rotate(0deg);}
      to {-moz-transform: rotate(360deg);}
  }
  
  @keyframes rotate {
      from {transform: rotate(0deg);}
      to {transform: rotate(360deg);}
  }