@import 'header';
@import 'footer';
@import 'redes-sociales';
@import 'variables';
@import 'carousel-principal';
@import 'sobre-nosotros';
@import 'porque-elegirnos';
@import 'trabajos-realizados';
@import 'contact-form';
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400&family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;1,600&display=swap');
*{
    font-family: 'Figtree', sans-serif;
    font-weight: 400;
    .linea-divisoria{
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 20px;
        hr{
            opacity: 1;
            width: 80%;
        }
    }
    main{
        background-color: $color-cinco;
    }
    .logo-whatsapp{
        position: fixed;
        right: 5px;
        bottom: 5px;
        z-index: 1;
        img{
            width: 90px;
            height: 90px;
        }
        :hover{
            transition: .7s;
            width: 100px;
            height: 100px;
            opacity: .9;
        }
    }
}
@media (min-width: 320px) and (max-width: 767px){
    .logo-whatsapp{
        img{
            width: 80px;
            height: 80px;
        }
    }
}