@import 'header';
@import 'footer';
@import 'redes-sociales';
@import 'variables';
@import 'carousel-principal';
@import 'sobre-nosotros';
@import 'porque-elegirnos';
@import 'trabajos-realizados';
@import 'contact-form';

*{
    .linea-divisoria{
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 20px;
        hr{
            opacity: 1;
            width: 80%;
        }
    }
    main{
        background-color: $color-cinco;
    }   
}